{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
{% include "navbar.html" %}
{% include '_messages.html' %}
    <div class="container mt-4">
        <table class="table table-sm">
            <thead>
                <th>No.</th>
                <th>Name</th>
                <th>Image</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                {% set discount = "%0.2f" | format((product.discount / 100) * product.price | float) %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td><img src="{{ url_for('static', filename='images/' + product.image) }}" width="50" height="50" alt="{{ product.name }}"></td>
                    <form action="{{ url_for('Updatecart', code=key) }}" method="post">
                        <td>
                            {% set colors = product.colors.split(',') %}
                            <select name="color" id="color">
                                <option value="{{ product.color }}" style="display: none;">{{ product.color | capitalize }}</option>
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>Ksh. {{ product.price }}</td>
                        <td style="width: 100px;"><input type="number" name="quantity" value="{{ product.quantity }}" min="1" max="{{ product.stock }}" class="w-50"></td>
                        {% if product.discount > 0 %}
                        <td>{{ product.discount }}% &nbsp; is {{ discount }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subtotal = product.quantity | int * product.price | float %}
                        <td>{{ "%0.2f" | format((subtotal | float) - discount | float) }}</td>
                        <td><button type="submit" class="btn btn-info btn-sm text-white">Update</button></td>
                    </form>
                    <td><a href="{{ url_for('deleteitem', id=key) }}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="9">Tax</td>
                    <td class="flex-end">{{ tax }}</td>
                </tr>
                <tr>
                    <td colspan="9"><strong>Total</strong></td>
                    <td class="flex-end"><strong>KSh. {{ grandtotal }}</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-10">
                <a href="/" class="btn btn-outline-info btn-sm">Continue Shopping</a> 
            </div>
            <div class="col-md-1 text-center">
                <a href="{{ url_for('clearcart') }}" class=" btn btn-outline-danger btn-sm">Clear</a>
            </div>
            <div class="col-md-1">
                <a href="{{ url_for('get_order') }}" class=" btn btn-warning btn-sm mr-4">Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}