{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %} 
    {% include "navbar.html" %}
        {% include '_messages.html' %}

           <div class="container">
                <div class="row">
                    {% if brand %}
                        {% for b in brand.items %}
                            <div class="col-md-3 mt-3 w-25">
                                <div class="card h-100 p-0">
                                    <div class="card-head" style="height: 223px;">
                                        <img src="{{ url_for('static', filename='images/' + b.image_1) }}" alt="{{ b.name }}" width="100%" height="100%">
                                    </div>
                                    <div class="card-body p-1">
                                        <h6 class="text-center">{{ b.name }}</h6>
                                        <p class="text-center p-0 mb-0"><small>KSh. {{ b.price }}</small></p>
                                        {% if b.discount > 0 %}
                                        <p class="text-center text-danger p-0 mb-0"><small>{{ b.discount }}% Off</small></p>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ url_for('single_page', id=b.id) }}" class="float-start btn btn-sm btn-primary">details</a>
                                        <form action="{{url_for('AddCart')}}" method="post">
                                            <input type="hidden" name="product_id" value="{{b.id}}">
                                            <button type="submit" class="btn btn-sm btn-warning float-end">Add to Cart</button>
                                            <input type="hidden" name="quantity" value="1" min="1">
                                            {% set colors = b.colors.split(',') %}
                                            <select name="colors" id="colors" style="visibility: hidden;">
                                                {% for color in colors %}
                                                {% set col = color.split(':') %}
                                                <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>

                <div class="row">
                    <div class="col text-center">
                        {% if brand.has_prev %}
                            <a href="{{ url_for('get_brand', id=get_b.id, page=brand.prev_num) }}" class="btn btn-info btn-sm m-3 text-white">Previous</a>
                        {% endif%}
                        {% if brand.total > 12 %}
                            {% for page_num in brand.iter_pages(left_edge=2, right_edge=3, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if brand.page == page_num %}
                                        <a href="{{ url_for('get_brand', id=get_b.id, page=page_num) }}" class="btn btn-info btn-sm m-3 text-white">{{ page_num }}</a>
                                    {% else %}
                                        <a href="{{ url_for('get_brand', id=get_b.id, page=page_num) }}" class="btn btn-outline-info btn-sm m-3">{{ page_num }}</a>
                                    {% endif %} 
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if brand.has_next %}
                            <a href="{{ url_for('get_brand', id=get_b.id, page=brand.next_num) }}" class="btn btn-info btn-sm m-3 text-white">Next</a>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    {% elif get_cat_pro %}
                        {% for get_cat in get_cat_pro.items %}
                            <div class="col-md-3 mt-3 w-25">
                                <div class="card h-100 p-0">
                                    <div class="card-head" style="height: 223px;">
                                        <img src="{{ url_for('static', filename='images/' + get_cat.image_1) }}" alt="{{ get_cat.name }}" width="100%" height="100%">
                                    </div>
                                    <div class="card-body p-1">
                                        <h6 class="text-center">{{ get_cat.name }}</h6>
                                        <p class="text-center p-0 mb-0"><small>KSh. {{ get_cat.price }}</small></p>
                                        {% if get_cat.discount > 0 %}
                                        <p class="text-center text-danger p-0 mb-0"><small>{{ get_cat.discount }}% Off</small></p>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ url_for('single_page', id=get_cat.id) }}" class="float-start btn btn-sm btn-primary">details</a>
                                        <form action="{{url_for('AddCart')}}" method="post">
                                            <input type="hidden" name="product_id" value="{{get_cat.id}}">
                                            <button type="submit" class="btn btn-sm btn-warning float-end">Add to Cart</button>
                                            <input type="hidden" name="quantity" value="1" min="1">
                                            {% set colors = get_cat.colors.split(',') %}
                                            <select name="colors" id="colors" style="visibility: hidden;">
                                                {% for color in colors %}
                                                {% set col = color.split(':') %}
                                                <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>

                <div class="row">
                    <div class="col text-center">
                        {% if get_cat_pro.has_prev %}
                            <a href="{{ url_for('get_category', id=get_cat.id, page=get_cat_pro.prev_num) }}" class="btn btn-info btn-sm m-3 text-white">Previous</a>
                        {% endif %}
                        {% if get_cat_pro.total > 12 %}
                            {% for page_num in get_cat_pro.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if get_cat_pro.page == page_num %}
                                        <a href="{{ url_for('get_category', id=get_cat.id, page=page_num) }}" class="btn btn-info btn-sm m-3 text-white">{{ page_num }}</a>
                                    {% else %}
                                        <a href="{{ url_for('get_category', id=get_cat.id, page=page_num) }}" class="btn btn-outline-info btn-sm m-3">{{ page_num }}</a>
                                    {% endif %} 
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if get_cat_pro.has_next %}
                            <a href="{{ url_for('get_category', id=get_cat.id, page=get_cat_pro.next_num) }}" class="btn btn-info btn-sm m-3 text-white">Next</a>
                        {% endif %}
                    </div>
                </div>
            
                <div class="row">
                    {% else %}
                        {% for product in products.items %}
                            <div class="col-md-3 mt-3 w-25">
                                <div class="card h-100 p-0">
                                    <div class="card-head" style="height: 223px;">
                                        <img src="{{ url_for('static', filename='images/' + product.image_1) }}" alt="{{ product.name }}" width="100%" height="100%">
                                    </div>
                                    <div class="card-body p-1">
                                        <h6 class="text-center">{{ product.name }}</h6>
                                        <p class="text-center p-0 mb-0"><small>KSh. {{ product.price }}</small></p>
                                        {% if product.discount > 0 %}
                                        <p class="text-center text-danger p-0 mb-0"><small>{{ product.discount }}% Off</small></p>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ url_for('single_page', id=product.id) }}" class="float-start btn btn-sm btn-primary">details</a>
                                        <form action="{{url_for('AddCart')}}" method="post">
                                            <input type="hidden" name="product_id" value="{{product.id}}">
                                            <button type="submit" class="btn btn-sm btn-warning float-end">Add to Cart</button>
                                            <input type="number" name="quantity" value="1" min="1" style="visibility: hidden;">
                                            {% set colors = product.colors.split(',') %}
                                            <select name="colors" id="colors" style="visibility: hidden;">
                                                {% for color in colors %}
                                                {% set col = color.split(':') %}
                                                <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>            
                    
                <div class="row">
                    <div class="col text-center">
                        {% if products.has_prev %}
                            <a href="{{ url_for('home', page=products.prev_num) }}" class="btn btn-info btn-sm m-3 text-white">Previous</a>
                        {% endif %}
                        {% if products.total > 12 %}
                            {% for page_num in products.iter_pages() %}
                                {% if page_num %}
                                    {% if products.page == page_num %}
                                        <a href="{{ url_for('home', page=page_num) }}" class="btn btn-info btn-sm m-3 text-white">{{ page_num }}</a>
                                    {% else %}
                                        <a href="{{ url_for('home', page=page_num) }}" class="btn btn-outline-info btn-sm m-3">{{ page_num }}</a>
                                    {% endif %} 
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if products.has_next %}
                            <a href="{{ url_for('home', page=products.next_num) }}" class="btn btn-info btn-sm m-3 text-white">Next</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>

{% endblock content %}