{% extends "layout.html" %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
{% include "navbar.html" %}
{% include '_messages.html' %}
    <div class="container mt-4" >
        <div id="invoices">
        <div class="invoice">
            <p><strong>Order invoice: </strong>{{ orders.invoice }}</p>
            <p><strong>Order status: </strong>{{ orders.status }}</p>
            <p><strong>Customer name: </strong>{{ customer.firstname }} {{ customer.lastname }}</p>
            <p><strong>Customer email: </strong>{{ customer.email }}</p>
            <p><strong>Customer contact: </strong>{{ customer.contact }}</p>
            <p><strong>Customer address: </strong>{{ customer.address }}</p>
        </div>
        <table class="table table-sm">
            <thead>
                <th>No.</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                {% set discount = "%0.2f" | format((product.discount / 100) * product.price | float) %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <form action="{{ url_for('Updatecart', code=key) }}" method="post">
                        <td>
                            {{ product.color | capitalize }}
                        </td>
                        <td>Ksh. {{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        {% if product.discount > 0 %}
                        <td>{{ product.discount }}% &nbsp; is {{ discount }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subTotal = product.quantity | int * product.price | float %}
                        <td>{{ "%0.2f" | format((subTotal | float) - discount | float) }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">Tax</td>
                    <td class="flex-end">{{ tax }}</td>
                </tr>
                <tr>
                    <td colspan="6"><strong>Total</strong></td>
                    <td class="flex-end"><strong>KSh. {{ grandTotal }}</strong></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="row mt-5">
            <div class="col-md-10">
                
            </div>
            <div class="col-md-2">
                    <button type="button" class="btn btn-info btn-sm" id="pdfBtn">Download invoice</button>
            </div>
        </div>
        <script>
            const htmlPage = document.getElementById('invoices')
            const pdfBtn = document.getElementById('pdfBtn')

            pdfBtn.addEventListener('click', () => {
                html2pdf()
                .from(htmlPage)
                .save(filename='invoice')
})
        </script>
    </div>
{% endblock %}
